@import "lxgw-wenkai-webfont/lxgwwenkai-regular.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-chalkboard{
    background-image: url("images/chalkboard.png");
    background-repeat: repeat;
}


.font-default{
    font-family: lxgw wenkai, Roboto, lucida grande, lucida sans unicode, lucida, helvetica, hiragino sans gb, microsoft yahei, wenquanyi micro hei, sans-serif;
}

.scrollbar-filter::-webkit-scrollbar {
    filter: url(#chalk);
}

body{
    width: 100vw;
    height: 100vh;
}

.cursor-pointer{
    cursor: url('./cursors/Chalk.cur') 0 0, auto;
}

a:hover{
    cursor: url('./cursors/Chalk.cur') 0 0, auto;
}

.\[\&_span\]\:cursor-pointer span{
    cursor: url('./cursors/Chalk.cur') 0 0, auto !important;
}